.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: fit-content;
  text-align: center;
}

.bottomWrapper {
  width: 80%;
  padding: 3rem 6rem 3rem 8rem;
  border: #fff 2px solid;
  position: relative;
  background: linear-gradient(to right, #0f1422 0%, rgb(195, 198, 206, 0.005) 100%);
  border: 4px solid;
  border-image-slice: 1;
  box-sizing: border-box;
  border-right: none;
  border-image-source: linear-gradient(to right, #866c4b 0%, rgb(195, 198, 206, 0.005) 100%);
}

.lightWrapper {
  position: absolute;
  right: -20%;
  top: 70%;
  z-index: 1;
}

.arrow {
  position: absolute;
  top: 35%;
  left: 100%;
}

.stepsWrapper > div:nth-child(4) > .arrow {
  display: none;
}

.bottomWrapper h2 {
  margin: 0 0.5em;
}

.bottomWrapper p {
  line-height: 2em;
}

.txtWrapper {
  margin: 2em 0;
  text-align: left;
}

.txtHeadWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.txtWrapper p{
  color: #b7b1ac 
}

.imgWrapper {
  position: absolute;
  left: 90%;
  top: 10%;
}

.imgWrapper img {
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .bottomWrapper {
    padding: 2rem 4rem;
  }
  .stepsWrapper {
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .stepsWrapper {
    display: block;
  }
  .bottomWrapper {
    border: none;
    background: none;
    width: 100%;
    padding: 0;
  }
  .imgWrapper {
    display: none;
  }
  .lightWrapper {
      display: none;
  }

  .txtHeadWrapper {
    padding-top: 50px;
    margin-bottom: 25px;
  }
}
