.bannerTxt {
  position: absolute;
  bottom: 0;
  right: 5%;
  background-image: url("../public/assets/images/banner_txt.png");
  width: 700px;
  height: 450px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bug {
  position: absolute;
  top: calc(100vh - 110px);
  left: 75%;
  z-index: 3;
}

.flyleft {
  float: left;
  width: 20%;
}

.flyright {
  float: right;
}

@media only screen and (max-width: 1500px) {
  .bannerTxt {
    width: 600px;
    height: 350px;
    right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .bannerTxt {
    left: 0;
    top: 40%;
    width: 100%;
    background-size: 600px;
    background-size: contain ;
  }
}


@media only screen and (max-width: 1100px) {
  .bug {
    display: none;
  }
}