.bannerTxt {
  position: absolute;
  top: calc(100vh - 70%);
  right: 8%;
  background-image: url("../public/assets/images/banner_txt.png");
  width: 800px;
  height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1500px) {
  .bannerTxt {
    width: 700px;
    height: 400px;
  }
}

@media only screen and (max-width: 1400px) {
  .bannerTxt {
    left: 0;
    top: 50%;
    width: 100%;
    background-size: 600px;
  }
}

