.wrapper {
  background-image: url("../public/assets/images/bg/p2_bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative;
}




.inputArea {
  display: inline-block;
  margin: 0 3em;
}


.counterContainer {
  position: relative;
  text-align: center;
  margin: 2em 0;
}

.formContainer {
  position: relative;
  margin-top: 2em;
  text-align: center;
}

.tree {
  height: 25vh;
}


.errorMessages {
  position: fixed;
  top: 50%;
  left: 35%;
  height: 20%;
  width: 30%;
  background-color: black;
  color: red;
}

.emailWarning {
  margin-left: 1em;
  color: red;
}
.hidden {
  display: none;
}

.vote {
  color: #000;
}

.show {
  visibility: visible;
  color: red;
}

.success {
  color: green;
}

.warning {
  color: red;
}

.rabbit {
  width: 120px;
  height: 130px;
  background-image: url(../public/assets/images/walking.png);
  animation: moveX 1s steps(6) infinite;
}

.dancing {
  width: 160px;
  height: 160px;
  bottom: 7em;
  background-image: url(../public/assets/images/dancing.png);
  animation: dancing 1s steps(5) infinite;
}

@keyframes moveX {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -810px;
  }
}




@keyframes dancing {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -810px;
  }
}

.outer {
  width: 70%;
  margin: auto;
  margin-top: 3em;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.pillars {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  align-items: flex-end;
}

.road {
  width: 100%;
}

.coin {
  position: relative;
}

.coin:after {
  content: "";
  background-image: url('../public/assets/images/coin_after.png');
  width: 250%;
  height: 160%;
  position: absolute;
  top: -60%;
  left: -70%;
  background-size: contain;
}

.road img {
  width: 100%;
}
.pillar {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pillars > div:nth-child(2) > img:nth-child(2) {
  height: 250px;
}

.pillars > div:nth-child(1) > img:nth-child(2),
.pillars > div:nth-child(3) > img:nth-child(2) {
  height: 180px;
}

.pillar img {
  width: 100%;
}
.rabbit {
  position: absolute;
  top: calc(53%);
}
.rabbit img {
  width: 100%;
}

.button {
  display: inline-block;
  margin: 1em 0 2em 0;
  background-color: #0f1422;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5em;
  border-bottom: 0.25em solid #0f5177;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 900px) {
  .wrapper {
    height: fit-content;
    background-image: url("../public/assets/images/bg/p2_bg_mobile.jpg");
  }
  .pillar {
    width: 20%;
  }
  .rabbit {
    top: 60%;
    animation: moveXmobile 1s steps(6) infinite;
    width: 45px;
    background-size: cover;
    height: 50px;
  }
  .pillars > div:nth-child(2) > img:nth-child(2) {
    height: 120px;
  }
  
  .pillars > div:nth-child(1) > img:nth-child(2),
  .pillars > div:nth-child(3) > img:nth-child(2) {
    height: 80px;
  }
  .road {
    height: 30px;
  }
  .road img {
    height: 100%;
  }
  .inputArea {
    text-align: left;
  }
}

@keyframes moveXmobile {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -300px;
  }
}