.limitProductsWrapper {
  background-image: url("../public/assets/images/bg/p2_bg_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 1rem 0 1rem 0;
}

.limitProducts {
  display: flex;
  max-width: 1200px;
  margin: 5em auto;
  justify-content: space-between;
}
.buttonWrapper {
  margin-bottom: 8rem;
}


@media only screen and (max-width: 700px) {
  .limitProducts {
    display: block;
  }
}