.mvsWrapper {
  background-image: url("../public/assets/images/bg/p2_bg_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0rem 0 10rem 0;
}

.mv {
  max-width: 1000px;
  margin: 4em auto;
}

.mv video {
  width: 100%;
}

.imgWrapper {
  margin: auto;
  max-width: 1200px;
}
.imgWrapper img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.videoWrapper {
  max-width: 1200px;
  margin: 5rem auto;
  border: #a68654 solid 2px;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textWrapper {
  max-width: 1000px;
  margin: 5rem auto;
}

.carouselWrapper {
  max-width: 800px;
  margin: auto;
}

.scrollWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 5rem auto;
}

.showroomWrapper {
  margin: 3rem auto;
}

.scrollWrapper ul {
  margin: -2px;
  margin: 0;
  flex-wrap: nowrap;
  display: flex;
  padding: 0;
  list-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrollWrapper li {
  width: calc(100vh * 80% * 0%);
  height: 100%;
  padding: 2px;
  max-height: 200px;
  overflow: visible;
  margin-right: 12px;
  margin-bottom: 4px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.scrollWrapper li img {
  height: 100%;
  border: 2px solid #a68654;
}

.scrollWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 5rem auto;
}

.big {
    position: relative;
    width: 50%;
    margin: auto;
}

.big p {
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    color: black;
    padding: 2rem;
}

.big img {
    display: block;
    width: 100%;

}

.scrollWrapper ul {
  margin: -2px;
  margin: 0;
  flex-wrap: nowrap;
  display: flex;
  padding: 0;
  list-style: none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrollWrapper li {
  width: calc(100vh * 80% * 0%);
  height: 100%;
  padding: 2px;
  max-height: 200px;
  overflow: visible;
  margin-right: 12px;
  margin-bottom: 4px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.scrollWrapper li img {
  height: 100%;
  border: 2px solid #a68654;
}


.rulesWrapper {
  max-width: 500px;
  margin: 3rem auto;
}

.rulesWrapper ol {
  margin: 3rem auto;
}

.buttonWrapper {
  width: 225px;
  margin: auto;
  color: #a68654
}


@media only screen and (max-width: 700px) {
  .videoWrapper {
    width: 90%;
  }
  .imgWrapper {
    width: 90%;
  }
  .textWrapper {
    width: 90%;
  }
  .scrollWrapper li {
    width: 80%;
    margin-right: .5rem;
  }
  .scrollWrapper {
    width: 100%;
  }
  .mvsWrapper {
    padding: 0;
  }
}