.pageBreak {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 700px) {
}

@media only screen and (min-width: 900px) {
  .pageBreak img {
    max-width: 100%;
  }
  .pageBreak {
    display: flex;
    justify-content: center;
  }
  .pageBreak img {
    width: auto;
  }
}
