.producersWrapper {
  background-image: url("../public/assets/images/bg/p2_bg_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 4em;
}

.producers {
  max-width: 1000px;
  margin: auto;
}

.producerCard {
  display: flex;
  margin: 4em 0;
}

.producersWrapper > div > div:nth-child(1) > div,
.producersWrapper > div > div:nth-child(3) > div {
  margin-left: 2em;
}

.producersWrapper > div > div:nth-child(2) > div,
.producersWrapper > div > div:nth-child(4) > div {
    margin-right: 2em;
}

.producerCard img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #6b5941;
}
