.subbannerWrapper {
  background-image: url("../public/assets/images/bg/p2_bg_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: fit-content;
  position: relative;
  padding: 6rem 0 1rem 0;
}

.subbannerBlock {
  max-width: 800px;
  border: 2px solid #6b5941;
  margin: 1em auto 8em;
  padding: 6em 4em;
  color: #fff;
  background-color: #181818;
}

.subbannerBlockHead {
  white-space: pre-wrap;
}

.subbannerBlock h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.subbannerBlock h2 {
  font-size: 2em;
}

.buttonwrapper {
  margin-bottom: 8rem;
}

.videoWrapper {
  max-width: 1200px;
  margin: 5rem auto;
  border: 2px solid #a68654;
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
