.wrapper {
  background-image: url("../public/assets/images/bg/p2_bg_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: fit-content;
}

.stepsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 3em 0;
}

.bottomWrapper {
  width: 80%;
  padding: 3rem 8rem;
  border: #fff 2px solid;
  margin-top: 10rem;
  display: flex;
  position: relative;
  background: linear-gradient(to right, #0f1422 0%, rgb(195, 198, 206, 0.005) 100%);
  border: 4px solid;
  border-top: 0;
  border-image-slice: 1;
  box-sizing: border-box;
  border-right: none;
  border-image-source: linear-gradient(to right, rgba(218, 240, 252, 0.005) 0%, rgb(195, 198, 206, 0.005) 100%);
}

.stepsWrapper > div:nth-child(2):after {
  animation-delay: 1s;
}
.stepsWrapper > div:nth-child(3):after {
  animation-delay: 2s;
}
.stepsWrapper > div:nth-child(4):after {
  animation-delay: 3s;
}

.lightWrapper {
  position: relative;
  text-align: center;
  width: 25%;
  z-index: 1;
}

.lightWrapper:after {
  content: "";
  top: -15%;
  left: 30%;
  z-index: -1;
  height: 40%;
  width: 40%;
  position: absolute;
  background-image: url("../public/assets/images/lighthouse_light.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade 4s infinite linear;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  /* 0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  } */
}

.arrow {
  position: absolute;
  top: 35%;
  left: 100%;
}

.stepsWrapper > div:nth-child(5) > .arrow {
  display: none;
}

.bottomWrapper h2 {
  margin-bottom: 1em;
}

.bottomWrapper p {
  line-height: 2em;
}

.imgWrapper {
  position: absolute;
  left: 90%;
  top: -40%;
  height: 45vh;
}

.imgWrapper img {
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .bottomWrapper {
    padding: 2rem 4rem;
  }
  .stepsWrapper {
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .stepsWrapper {
    display: block;
    margin: 4em 0;
  }
  .lightWrapper {
    background: linear-gradient(to right, #0f1422 0%, rgb(195, 198, 206, 0.005) 100%);
    border: 4px solid;
    border-image-slice: 1;
    box-sizing: border-box;
    border-right: none;
    border-image-source: linear-gradient(to right, #fff 0%, rgb(195, 198, 206, 0.005) 100%);
    width: 100%;
  }

  .bugWrapper {
    display: none;
  }

  .stepsWrapper :nth-child(1),
  .stepsWrapper :nth-child(2),
  .stepsWrapper :nth-child(3) {
    border-bottom: 0px;
  }

  .txtTimelineWrapper {
    padding: 1em;
    display: flex;
  }

  .txtTimelineWrapper :nth-child(1) {
    display: block;
    width: 50%;
  }

  .txtTimelineWrapper p {
    margin: 0;
  }
  .lightWrapper img {
    display: none;
  }
  .imgWrapper {
    display: none;
  }

  .bottomWrapper {
    margin: 3em 0;
    padding: 0;
    width: 100%;
  }
}
